{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1 class="page-title">
        🎬 CineVerse AI
    </h1>

    <p class="page-subtitle">
        Discover Movies in English, Hindi, Malayalam, Tamil & Telugu
    </p>

    <form class="search-form" method="GET">

        <input
            type="text"
            name="search"
            placeholder="Search Movies..."
            value="{{ request.GET.search }}"
        >

        <select name="language">

            <option value="">All Languages</option>

            <option value="English">English</option>
            <option value="Hindi">Hindi</option>
            <option value="Malayalam">Malayalam</option>
            <option value="Tamil">Tamil</option>
            <option value="Telugu">Telugu</option>

        </select>

        <input
            type="number"
            name="rating"
            placeholder="Min Rating"
            step="0.1"
        >

        <input
            type="number"
            name="year"
            placeholder="Release Year"
        >

        <button type="submit">
            Search
        </button>

    </form>

    <div class="language-filter">

        <a href="{% url 'home' %}">All</a>
        <a href="{% url 'home' %}?language=English">English</a>
        <a href="{% url 'home' %}?language=Hindi">Hindi</a>
        <a href="{% url 'home' %}?language=Malayalam">Malayalam</a>
        <a href="{% url 'home' %}?language=Tamil">Tamil</a>
        <a href="{% url 'home' %}?language=Telugu">Telugu</a>

    </div>

    <div class="movie-container">

        {% for movie in movies %}

        <div class="movie-card">

            <img src="{{ movie.poster }}" alt="{{ movie.title }}">

            <div class="movie-info">

                <h3>{{ movie.title }}</h3>

                <p>⭐ {{ movie.imdb_rating }}</p>

                <p>🌍 {{ movie.language }}</p>

                <p>📅 {{ movie.release_date }}</p>

                <a
                    href="{% url 'movie_detail' movie.id %}"
                    class="details-btn"
                >
                    View Details
                </a>

            </div>

        </div>

        {% empty %}

            <h2>No movies found.</h2>

        {% endfor %}

    </div>

    <div class="pagination">

        {% if page_obj.has_previous %}

            <a href="?page={{ page_obj.previous_page_number }}">
                Previous
            </a>

        {% endif %}

        <span>

            {{ page_obj.number }}

            /

            {{ page_obj.paginator.num_pages }}

        </span>

        {% if page_obj.has_next %}

            <a href="?page={{ page_obj.next_page_number }}">
                Next
            </a>

        {% endif %}

    </div>

</div>

{% endblock %}