{% extends "base.html" %}

{% block content %}

<h1 class="title">
    ❤️ My Wishlist
</h1>

{% if wishlist_items %}

<div class="movie-container">

    {% for item in wishlist_items %}

    <div class="movie-card">

        <a href="{% url 'movie_detail' item.movie.id %}">

            <img
                src="{{ item.movie.poster }}"
                alt="{{ item.movie.title }}"
                onerror="this.src='https://via.placeholder.com/300x450?text=No+Poster';"
            >

        </a>

        <div class="movie-info">

            <h3>{{ item.movie.title }}</h3>

            <p>
                ⭐ {{ item.movie.imdb_rating }}/10
            </p>

            <p>
                🌐 {{ item.movie.language }}
            </p>

            <p>
                📅 {{ item.movie.release_date|date:"Y" }}
            </p>

            <a href="{% url 'movie_detail' item.movie.id %}">
                View Details
            </a>

            <br><br>

            <a
                href="{% url 'remove_from_wishlist' item.movie.id %}"
                class="remove-btn"
            >
                ❌ Remove
            </a>

        </div>

    </div>

    {% endfor %}

</div>

{% else %}

<div class="empty-wishlist">

    <h2>Your wishlist is empty.</h2>

    <p>
        Start exploring movies and add your favourites.
    </p>

    <a href="{% url 'home' %}" class="wishlist-btn">
        Browse Movies
    </a>

</div>

{% endif %}

{% endblock %}