{% extends "base.html" %}

{% block content %}

<h1 style="text-align:center;margin:30px 0;">
    ❤️ My Wishlist
</h1>

{% if wishlist_items %}

<div class="movie-container">

    {% for item in wishlist_items %}

    <div class="movie-card">

        <img src="{{ item.movie.poster }}" alt="{{ item.movie.title }}">

        <div class="movie-info">

            <h3>{{ item.movie.title }}</h3>

            <p>⭐ {{ item.movie.imdb_rating }}</p>

            <p>🌐 {{ item.movie.language }}</p>

            <p>📅 {{ item.movie.release_date }}</p>

            <br>

            <a href="{% url 'movie_detail' item.movie.id %}">
                View Details
            </a>

            <br><br>

            <a
                href="{% url 'remove_from_wishlist' item.movie.id %}"
                style="background:#444;"
            >
                ❌ Remove
            </a>

        </div>

    </div>

    {% endfor %}

</div>

{% else %}

<div style="text-align:center;margin-top:100px;">

    <h2>Your wishlist is empty.</h2>

    <br>

    <a href="{% url 'home' %}"
       style="
       background:#e50914;
       padding:12px 25px;
       color:white;
       text-decoration:none;
       border-radius:8px;">
        Browse Movies
    </a>

</div>

{% endif %}

{% endblock %}